

/* laptop 1440 */


@media (max-width: 90em) {
    .header{
        max-width: 120rem;
        max-width: 100vw;
    }
    .heading-title{
        font-size: 1.9rem;
    }
    .nav-link{
        font-size: 1.6rem;
        padding-right: 5rem;
    }

    .hero-text {
        margin-left: 12rem;
        margin-top: 15rem;
    }
    .project-nav {

        /* width: 20%; */
        padding: 2rem 6rem;
        margin-left: 20rem;
 
    }

    .about-me{
        font-size: 4rem;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        margin: 12rem 0;
        position: relative;
          max-width: 140%;
        margin-left:57rem;
        letter-spacing: 3px;
    }

    .about-me__contact{
        margin-left: 58.5rem;
    }


    
}






/* below 1344px smsller desktop */
@media (max-width: 84em) {
    .header{
        max-width: 120rem;
        max-width: 100vw;
    }
    .header-title{
        font-size: 2.9rem;
    }
    .nav-link{
        font-size: 1.6rem;
        padding-right: 5rem;
    }

    .hero-text {
        margin-left: 10rem;
        margin-top: 15rem;
    }
    .project-nav {

        /* width: 20%; */
        padding: 2rem 6rem;
        margin-left: 20rem;
 
    }


    .about-me{
        font-size: 4rem;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        margin: 12rem 0;
        position: relative;
          max-width: 140%;
        margin-left:50rem;
        letter-spacing: 3px;
    }


    .project-img{
        width: 110%;
    }
    .project-text{
        width: 70%;
        margin-top: 7rem;
        margin-left: 9rem;
    }
    .projects{
        margin-left: 2rem;
    }

    .about-me__contact{
        margin-left: 54rem;
    }

}



/*  below 1200px (landscape tablet*/
@media (max-width: 75rem) {
html{
    font-size: 56.26;
}

.hero-text {
    margin-left: 6rem;
    margin-top: 15rem;
}

.hero-texts {
    width: 120%;
    margin-left: -6rem;
    /* color: green; */
}


.project-nav {
    margin-left: 15rem;

}


.about-me{
    margin: 12rem 0;
    margin-left: 44rem;
}


.about-text{
   margin-left: 2rem;
}


.skill-title{
    margin-left: 19.5rem;
    margin-bottom: 3rem;

}

.about-me__contact{
    margin-left: 47rem;
}

}


/* below 944 (tablets) */

@media (max-width : 59em){
    html{
        font-size: 50%;
    }
    .symbol{
        margin-left: 14rem;
    }
    .header{
        max-width: 100vw;  
    }

    .header-title{
        padding-left:1rem ;

    }

    .section-hero{
        height: 70vh;
        min-height: 80rem;
        max-height: 100rem;
        max-width:100% ;
    }

    .nav-link{
        font-size: 1.9rem;
        margin-right: 2rem;
    }

    .hero-text{
        margin-left: 7rem;
        /* color: green;; */
    }
    .hero-texts{
        margin-left: -6rem;
    }

    .about-me{
        max-width: 100%;
        margin-left: 42rem;
        margin-top: 8rem;
    }
    .about-text{
        max-width: 100%;
    }
    .project-img{
        width: 95%;
        margin-left: 3rem;
    }
    .project-text{
        width: 70%;
        margin-top: 7rem;
        margin-left: 5rem;
    }
    .projects{
        margin-left: 6rem;
    }


    .about-me__contact{
        margin-left: 38rem;
    }

    .medias{
        margin-left: -25rem;
      }
     
      .email{
       display: flex;
       align-items: center;
       justify-content: center;
       margin-left: -3rem;
      }

}


/* below740px smaller tablets */
@media (max-width: 49em) {
    html{
        font-size: 47%;
    }
  
    .section-hero{
        background: linear-gradient( to right, rgba(245, 245, 245,.8), rgba(245,245,245,.8)),url("../image/hero-img.png");
        /* background-size: cover; */
        height: 100vh;
        min-height: 60rem;
        max-height: 85rem;
        max-width: 100vw;
     }
 
     .symbol{
        margin-left: 12rem;
     }

    .header{
        /* max-width: 100rem; */
        max-width: 100%;
    }
    .header-title{
        font-size: 2.3rem;
        padding-right: 2rem;
    }
    .nav-link{
        font-size: 1.6rem;
        padding-right: 5rem;
    }

    .hero-text{
        margin-left: 11rem;
        font-size: 4.5rem;
        padding-top: 6rem;
        padding-bottom: 1rem;
        max-width: 120%;
        margin-top: 6rem;
    }

    .hero-texts {
        color: #222;
        width: 120%;
        margin-left: -5rem;
    }

    .project-nav {

        /* width: 20%; */
        padding: 2rem 6rem;
        margin-left: 13rem;
        padding-bottom: -3rem;
        margin-bottom: -3rem;
 
    }

    .about-me{
        margin-left: 35rem;
    }

    .about-text{
        margin-left: 3rem;
        font-size: 2.3rem;
     }

.skills__skill{
    
    width: 75px;
    height: 40px;
}

.about-text{
    max-width: 100%;
}
.project-img{
    width: 90%;
    margin-left: 3rem;
}
.project-text{
    width: 60%;
    margin-top: 3rem;
    margin-left: 5rem;
}
.projects{
    margin-left: 4rem;
}


    /* mobile navigation */

    .btn-mobile-nav {
        display: block;
        z-index: 1000;
      }

    .nav {
        background-color: rgba(35, 34, 36, 0.9);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(px);
        position: absolute;
        top: 0;
        left: 0;
        width: 10vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;
        transform: translateX(100%);
    
        /* hide the navigation */
        /* display: none; */
    
        /* 1  hide it vissually*/
        opacity: 0;
        /* 2  make it unaccesible to mousse and keyboard*/
        pointer-events: none;
    
        /* 3  hide from screen readers*/
        visibility: hidden;
      }

      .nav-open .nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
        position: absolute;
      }
    
      .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
      }
      .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
      }

      .nav-link {
        flex-direction: column;
        gap: 4rem;
        font-size: 1rem;
        color: #222;
        position: absolute;
      }

    
}


/* below 544  (ohones)*/
@media (max-width: 34em) {
    html{
        font-size: 47%;
    }
 
    .header-title{
        font-size: 2.3rem;
    }

    .hero-text{
        margin-left: 2.6rem;
    }

    .hero-texts {
        width: 150%;
        margin-left: -8.7rem;
    }

    .project-nav {
        margin-left: 5rem;
        padding-bottom: -1rem;
        margin-bottom: -1rem;
        padding: 1rem -5rem;
        
 
    }

    .about-me{
        margin-left: 20rem;
        margin-bottom: 3rem;
    }

    .text-break{
        line-height: .5;
       }

    .grid {
        row-gap: 4.8rem;
    }

    .grid--2-cols{
        grid-template-columns: 1fr;
    }
    .grid--3-cols{
        grid-template-columns:repeat(3, 2fr);
    }


.skills__skill{
    
    width: 85px;
    height: 50px;
    margin-left: 1rem;
    margin-top: -4rem;

}


.skill-title{
    position: relative;
    font-size: 3rem;
    font-weight: bold;
    color: #222;
    display: flex;
    margin-left: 24rem;
    margin-top: 1rem;
    margin-bottom: 7rem;

}
.skills{
    margin-left: -21rem;
}


.about-text{
    max-width: 100%;
}
.project-img{
    width: 90%;
    margin-left: 3rem;
}
.project-text{
    width: 80%;
    margin-top: -10rem;
    margin-left: 7.5rem;

}
  
.project-link{
  
    padding: 1rem 1rem;
    width: 60%;
    margin-top: 2rem;
    margin-bottom: 10rem;


  }

.projects{
    margin-left: 4rem;
}

.about-me__contact{
    margin-left: 27rem;
    margin-top: 10rem;
}

.medias{
    margin-left: -9rem;
}

.media{
    margin-left: 10rem;
}

.email{
    margin-left: 2rem;
   }

.email-adress{
    margin-top: 3rem;
  }


.nav {
    background-color: rgba(35, 34, 36, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(px);
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    transform: translateX(100%);

    /* hide the navigation */
    /* display: none; */

    /* 1  hide it vissually*/
    opacity: 0;
    /* 2  make it unaccesible to mousse and keyboard*/
    pointer-events: none;

    /* 3  hide from screen readers*/
    visibility: hidden;
  }

}

/* below 400 */
@media(max-width: 29em){
   
    .header{
        /* color: green; */
    }

    html{
        font-size: 47%;
    }
 
    .header-title{
        font-size: 2.3rem;
    }

    .hero-text{
        margin-left: 7rem;
        max-width: 80%;
    }

    .hero-texts {
        width: 120%;
        margin-left: -2rem;
    }

    .project-nav {
        margin-left: 2.5rem;
        padding-bottom: -1rem;
        margin-bottom: -1rem;
        padding: 1rem -5rem;
        
 
    }

    .about-me{
        margin-left: 12rem;
        margin-bottom: 3rem;
        margin-top: 2rem;
    }



    .skills{
        margin-left: -2rem;
    }

    .skill-title{
        margin-left: 6rem;
    }

    .project-img{
        margin-left: 2rem;
    }


    .about-me__contact{
        margin-left: 17.5rem;
        margin-top: 10rem;
    }
    
    .medias{
        margin-left: -6rem;
    }
    
    .media{
        margin-left: 7rem;
    }
    
    .email{
        margin-left: 2rem;
       }
    
    .email-adress{
        margin-top: 3rem;
      }



}    



/* smaller phones */
@media(max-width: 24em){
    html{
        font-size: 47%;
    }
 
    .header{
        padding: 1.5rem 0;
    }
    .header-title{
        font-size: 2rem;
        margin-left: 2rem;
        /* color: green; */
    }

    .hero-text{
        margin-top: 10rem;
        margin-left: 6.5rem;
        font-size: 3.8rem;
    }

    .hero-texts {
        width: 105%;
        margin-left: -1rem;
    }

    .project-nav {
        margin-left: 2rem;
        padding-bottom: -1rem;
        margin-bottom: -1rem;
        padding: 2rem -10rem;
        
 
    }

    .about-me{
        margin-left: 10rem;
        margin-bottom: 3rem;
        max-width: 100%;
        font-size: 3rem;
    }

    .about-text{
        margin-left: 3rem;
        font-size: 2.3rem;
        max-width: 100%;
     }


    .text-break{
        line-height: .5;
       }

    .grid {
        row-gap: 4.8rem;
    }
    .grid--3-cols{
        grid-template-columns:repeat(3, 1fr);
    }


.skills__skill{
    
    width: 67px;
    height: 50px;
    /* margin-left: rem; */
    margin-top: -4rem;

}

.skill-title{
    margin-left: 9.5rem;
}

.skills{
    margin-left: -6rem;
}

.about-me__contact{
    margin-left: 16rem;
    margin-top: 10rem;
}

.nav {
    background-color: rgba(35, 34, 36, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(px);
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    transform: translateX(100%);

    /* hide the navigation */
    /* display: none; */

    /* 1  hide it vissually*/
    opacity: 0;
    /* 2  make it unaccesible to mousse and keyboard*/
    pointer-events: none;

    /* 3  hide from screen readers*/
    visibility: hidden;
  }
}


/* 280 */

@media(max-width: 19em){
    html{
        font-size: 47%;
    }
 
    .header{
        padding: 1.5rem 0;
        max-width: 100%;
    }
    .header-title{
        font-size: 2rem;
        margin-left: 2rem;
        /* color: green; */
    }

    .hero-text{
        margin-top: 10rem;
        margin-left: 6.5rem;
        font-size: 3.8rem;
    }

    .hero-texts {
        width: 105%;
        margin-left: -1rem;
    }

    .project-nav {
        margin-left: 2rem;
        padding-bottom: -1rem;
        margin-bottom: -1rem;
        padding: 2rem -10rem;
        
 
    }

    .about-me{
        margin-left: 3rem;
        margin-bottom: 3rem;
        max-width: 100%;
        font-size: 2.3rem;
    }

    .about-text{
        margin-left: 1rem;
        font-size: 2.3rem;
        max-width: 90%;
     }


    .text-break{
        line-height: .5;
       }

    .grid {
        row-gap: 4.8rem;
    }
    .grid--3-cols{
        grid-template-columns:repeat(3, 1fr);
    }

    .symbol{
        margin-top: 2rem;
        margin-left: 14rem;
    }

.skills__skill{
    
    width: 67px;
    height: 50px;
    margin-left: 2rem;
    margin-top: -4rem;

}

.project-text{
    width: 80%;
    margin-top: -10rem;
    margin-left: 6rem;

}


.about-me__contact{
    margin-left: 10rem;
    margin-top: 10rem;
}

.medias{
    margin-left: -3rem;
}

.media{
    margin-left: 2rem;
}


.nav {
    background-color: rgba(35, 34, 36, 0.9);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(px);
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    transform: translateX(100%);

    /* hide the navigation */
    /* display: none; */

    /* 1  hide it vissually*/
    opacity: 0;
    /* 2  make it unaccesible to mousse and keyboard*/
    pointer-events: none;

    /* 3  hide from screen readers*/
    visibility: hidden;
  }
}